version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - REACT_APP_QDRANT_URL=http://localhost
      - REACT_APP_INTERNAL_QDRANT_URL=http://qdrant
    depends_on:
      - qdrant
      - data_loader
    networks:
      - qdrant_network

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    networks:
      - qdrant_network
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/6333' || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 3s

  data_loader:
    build: ./database
    depends_on:
      qdrant:
        condition: service_healthy
    networks:
      - qdrant_network

networks:
  qdrant_network:
    driver: bridge

volumes:
  qdrant_storage:
